@import './variables';

.button {
    min-width: 101px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s transform;
    border: none;
    background-color: $main-color;
    @media (max-width: 576px) {
      min-width: 75px;
   }
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        height: 10px;
        margin-left: 10px;
        transition: none;

    }
    &::after {
        content: '';
        display: block;
        height: 10px;
        margin-right: 10px;
        transition: none;

    }
    &:hover {
        transform: translateY(-5px);
    }
    &:disabled{
      background-color: $grey;
    }
}