@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
        transform: translateY(-5px);
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 10px;
}

main {
    margin-top: 50px;
}

h2{
   font-size: 40px;
   color: $main-color;
   margin: 0 0 15px 0;
   @media (max-width: 768px) {
      font-size: 24px;
   }
}

form{
   display: flex;
   max-width: 500px;
   margin: 0 0 20px 0;

   & input{
      width: 70%;
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid $grey;
      &:focus{
         outline: none;
         box-shadow: 0 0 5px $grey;
      }
   }
}
